body{
    background-color: WhiteSmoke !important;
}
.normal{
    background-color: rgb(80, 156, 255);
}
.dropdown > .btn_normal, .menu_item > .btn_normal{
    background-color: transparent ;
    color: white ;
    transition: 0.5s;
    &:hover{
        background-color: rgba(88, 88, 88, 0.562) ;
        color: rgb(80, 156, 255) ;
        border: 1px solid rgb(80, 156, 255);
    }
}
.dropdown{
    .drop_normal{
        background-color: #0080806c;
        color: white;
        
    }
    .item_normal{
        color: white;
    }
}
.logo_normal{
    border: 1px solid rgb(80, 156, 255);
    &:hover{
        transform: scale(1.3);
        box-shadow: 2px 2px 2px rgb(80, 156, 255);
    }
}    
.lateral > .ofdark{
    background-color: #eeeeee;
    color: black;
    h2,h3{
        color: rgb(80, 156, 255);
    }
}
.title_card_normal{
    color: white;
    
}
    

.fundo{
    background-image: linear-gradient(360deg,white, rgb(80, 156, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 1vh;
}
.fundo_swipper{
    background-image:linear-gradient(360deg,black,white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    margin-bottom: 5em;

    .swiper-button-next,.swiper-button-prev{
        color: rgb(80, 156, 255);
     }

     .swiper-slide img{
        border: 1px solid rgb(80, 156, 255);
        transition:ease-in-out 0.6s;
      
     }
     .swiper_title{
         color: rgb(80, 156, 255);
     }
}
    .card__sobre{
        .card_sobre{
            .card-title{
                    color: rgb(80, 156, 255);
            }
        }
    }
    .dado_swiper{
        img{
            border: 1px solid rgb(80, 156, 255);
        }
    }
    footer{
        background-color: rgb(80, 156, 255);
    }
   
    .logos_imgs{
      
        .foter_log{
    
            h2{
               color:black ;
            }
         
        }
    }
    .contate_nos{
        background-image: linear-gradient(360deg, white,rgb(80, 156, 255));
        background-repeat: no-repeat;
        background-position: center;
        
    }